
/*모바일*/

@font-face {
  font-family: 'Pretendard';
  src: url('fonts/Pretendard-Regular.woff2?v=1.0') format('woff2'),
       url('fonts/Pretendard-Regular.woff') format('woff'),
       url('fonts/Pretendard-Regular.ttf?v=1.0') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  display: flex;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: 'Pretendard';
  color: #222222;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: -0.02em;

  user-select: none;     /* 텍스트 선택 방지 */
  -webkit-user-drag: none; /* 이미지 드래그 방지 (크롬, 사파리 등) */
  }

html {
  justify-content: center;
}

body {
 height: 100%;
  width: 380px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  body {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 
}



button#mypage, button#btnShare, button#search, a.app-logo {
  padding: 16px;
  margin: 0;
  background-color: transparent;
  border: none;
}

.icon {
  height: 25px;
  width: 25px;
}

.logo {
  height: 25px;
}

img.app-logo {
  height: 50px;
  border:0.3px solid #AAAAAA;
  border-radius: 18px;
  margin: -16px;
}

.label-user {
  color: #FFFFFF;
  background-color: #5162FF;
  padding: 6px 8px 6px 8px;
  border-radius: 5px;
}

.label-admin {
  color: #FFFFFF;
  background-color: #4BA1F5;
  padding: 6px 8px 6px 8px;
  border-radius: 5px;
}


.btn {
  width:100%;
  padding: 16px;

  border-radius: 10px;

  font-size: 14px;
  font-weight: 300;

  justify-content: center;
  align-items: center;
}

#btn-type-1 {
  border: 0.1px solid #AAAAAA;
  background-color: #ffffff;
  color: #4C4C4C;
}

#btn-type-2 {
  border: 0.1px solid #5162FF;
  background-color: #5162FF;
  color: #ffffff;
}





/* 헤더 영역  */


header {
  background: linear-gradient(to bottom right, #5A44E2,#76b4f3);
  flex-direction: column;
  height: auto;
  width: 100%;
  justify-content: start;
  align-items: stretch;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-wrap {
  flex-direction: row;
  height: auto;
  width: 100%;
  justify-content:space-between ;
  align-items: center;
  margin: 20px 0px 0px 0px;
}

.header-wrap * {
  border: #222222;
}


.search-wrap {
  flex-direction: row;
  height: auto;
  justify-content:space-between ;
  align-items: center;
  background-color: rgba(255,255,255,0.2);
  border-radius: 300px;
  margin: 0px 16px 50px 16px;
  gap: 16px;
}

.placeholder {
  width: 100%;
  height: 100%;
  align-items: center;
  margin: -16px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 100;
}


/* 콘텐츠 영역 */


.content-wrap {
  background: #FFFFFF;
  border-radius: 20px 20px 0px 0px;
  padding: 20px 0px 82px 0px;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  gap: 16px;
  
  position: relative;
  margin-top: 160px;
  z-index: 90;
}



/* 공지 영역 */

.noti-wrap {
  align-items: center;
  background:#F7F8FB;
  width: auto;
  height: auto;
  padding: 12px 16px 12px 16px;
  margin: 0px 18px 0px 18px;
  gap: 14px;
  border-radius: 16px;
}

.noti-tag {
  background: #5162FF;
  color: #FFFFFF;
  padding: 6px 8px 6px 8px;
  border-radius: 30px;
}

.noti-text {
  color: #4C4C4C;
  font-size: 13.5px;
  font-weight: 400;
}


/* 앱 마켓 영역 */

.appmarket-wrap {
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin: 0px 18px 0px 18px;
  gap: 16px;
}

.app-wrap {
  flex-direction: column;
  align-items: center;
}

.app-text {
  color: #4C4C4C;
  font-size: 12px;
  margin: 8px 0px 0px 0px;
}

.tool-tip {
  height: 25px;
  margin: 0px 0px -12px 0px;
  position: relative;   /* z-index 적용을 위한 필수 조건 */
  z-index: 10;      
}




/* 프로젝트 설명 영역 */

.project-wrap{
  flex-direction: column;
}

.text-wrap {
  flex-direction: column;
  gap: 6px;
  margin : 20px 18px 20px 18px;
}

.headcopy {
  color: #1F1F1F;
  font-size: 18px;
  font-weight: 700;
}

.subcopy {
  color: #4C4C4C;
  font-size: 14px;
  font-weight: 400;
}

#giftcard {
  margin: 0px 16px 0px 18px; 
}

.projectcard-wrap {
  flex-direction: row;
  width: 100%;
  overflow-x: auto;             /* 가로 스크롤 가능 */
  overflow-y: hidden;           /* 세로 스크롤 차단 */
  white-space: nowrap;
  -ms-overflow-style: none;     /* IE/Edge용 스크롤바 숨김 */
  scrollbar-width: none;        /* Firefox용 스크롤바 숨김 */
}

.projectcard-wrap::-webkit-scrollbar {
  display: none;                /* Chrome/Safari용 스크롤바 숨김 */
}

.project-card {
  position: relative;
  flex: 0 0 auto;
  width: 184.2px;
  height: 250px ;
  margin-right: 16px;
}

.thumb {
  height: 100%;
  border-radius: 12px;
}

.cardtext-wrap {
  flex-direction: column;
  width: 100%;
  gap: 8px;
  position: absolute;
  bottom: 0;
  margin: 20px;
}


.card-headcopy {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
}

.card-subcopy {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 300;
}


.card-timestamp {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 100;
}

.label-wrap {
  flex-direction: row;
  gap: 6px;
}


/* 리뷰 타이틀 영역 */

.review-wrap {
  flex-direction: column;
}

.review-summary {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 18px 0px 18px;
  gap: 8px;
}

.review-sum-text {
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: 400;
}

.view-all {
  width: auto;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}


/* 리뷰 카드 영역 */

.reviewcard-wrap-wrap {
  flex-direction: row;
  gap: 10px;
  width: 100%;
  overflow-x: auto;             /* 가로 스크롤 가능 */
  overflow-y: hidden;           /* 세로 스크롤 차단 */
  white-space: nowrap;
  -ms-overflow-style: none;     /* IE/Edge용 스크롤바 숨김 */
  scrollbar-width: none;        /* Firefox용 스크롤바 숨김 */
}

.reviewcard-wrap-wrap::-webkit-scrollbar {
  display: none;                /* Chrome/Safari용 스크롤바 숨김 */
}

#reviewcard-wrap-01 {
  margin-left: 18px;
}

.reviewcard-wrap {
  background-color: #F7F8FB;
  flex-direction: column;
  width: 350px;
  padding: 16px 18px 16px 18px ;
  border-radius: 8px;
  gap: 4px;
}

.reviewcard-sum {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  border-radius: 3px;
}

.star-wrap {
  flex-direction: row;
  align-items: center;
  gap: -2px;
}

.star {
  width: 16px;
  height: 16px;
}

.reviewcard-label {
  background-color: #E6E6E6;
  color: #6D6D6D;
  width: 45px;
  font-size: 10px;
  font-weight: 400;
  padding: 3px;
  border-radius: 4px;
}

.reviewcard-date {
  color: #6F6F6F;
  flex-grow: 1;
  font-size: 11px;
  font-weight: 200;
  justify-content: right;
}

.reviewcard-content{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.reviewcard-text {
  color: #6F6F6F;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;           /* 추가 필수 */
  -webkit-box-orient: vertical;   
  -webkit-line-clamp: 3;          /* 줄 수 설정 */
  line-height: 1.4em;
  max-height: calc(1.4em * 3);
  word-break: hidden;
  white-space: normal;
}



.emoji {
  width: 55px;
  height: 55px;
}


/* 푸터 영역 버튼 설정 */

.footer-wrap {
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 380px;
  height: auto;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

@media screen and (max-width: 768px) {
  .footer-wrap {
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    height: auto;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}
