
/*모바일*/

@font-face {
  font-family: 'Pretendard';
  src: url('fonts/Pretendard-Regular.woff2?v=1.0') format('woff2'),
       url('fonts/Pretendard-Regular.woff') format('woff'),
       url('fonts/Pretendard-Regular.ttf?v=1.0') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Pretendard';
    color: #222222;
    font-size: 12px;
    font-weight: regular;
    display: flex;
  }


  body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  button {
     background-color: #FFFFFF;
     margin: none;
     padding: none;
     border: none;
  }


  p.header-title { font-size: 16px; }
  p.atf-title { font-size: 18px; font-weight: medium; }
  p.atf-subtitle { color: #535353; font-size: 14px; font-weight: regular; }
  p.atf-nomalprice { color: #BDBDBD; font-size: 14px; font-weight: medium; text-decoration: line-through; }
  p.atf-increase { color: #18A957; font-size: 20px; font-weight: bold; }
  p.atf-price { font-size: 20px; font-weight: bold; }
  
  p.content-tag { color: #EEEEEE; font-size: 13px; font-weight: medium; background-color: #222222; padding: 2px 6px;}
  p.content-title { font-size: 24px; font-weight: bold; }
  p.content-detail { font-size: 15px; font-weight: medium; text-align: center; line-height: 150%;}
  p.content-guide { color: #535353; }
  p.content-alarm { color: #9EA590; }

  p.company-name { color: #18A957; font-weight: bold; }
  p.company-divider { font-weight: bold; }
  p.company-type { font-weight: bold; }

  p.period-start {color: #757575; font-size: 11px;}
  p.period-divider {color: #757575; font-size: 11px;}
  p.period-end {color: #757575; font-size: 11px;}

  p.project-name {color: #535353;}

  p.skills-title {font-weight: bold;}
  p.skills-detail {color: #757575; font-size: 11px;}

  p.skill {color: #18A957; font-weight: bold;}
  p.skill-divider {color: #18A957; font-weight: bold;}
  p.skill-level {color: #18A957; font-weight: bold;}

  p.personName {font-size: 13px;}
  p.personInfo-positon {color: #535353; font-size: 13px;}
  p.personInfo-divider {color: #535353; font-size: 13px;}
  p.personInfo-relationship {color: #535353; font-size: 13px;}

  p.interview-title {color: #535353; font-weight: bold; line-height:160%;}
  p.interview-detail {color: #535353; line-height:160%; text-align: justify; width:238px; height:60px; overflow: hidden; text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }


  .gap {
    height: 6px;
  }

  .headergap {
    height: 50px;
  }

  .footergap {
    height: 50px;
  }

  .divider {
    width: auto;
    height: 1px;
    background-color: #EEEEEE;
  }

  .btntype1 {
    border: 1px solid #DBDBDB;
    height: 42px;
    width: 50%;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    font-size: 13px;
  }

  .btntype2 {
    color: #EEEEEE;
    border: 1px solid #DBDBDB;
    height: 42px;
    width: 50%;
    background-color: #18A957;
    justify-content: center;
    align-items: center;
    font-size: 13px;
  }

  

  header.header-wrap {
    padding: 20px 16px;
    justify-content: space-between;
    align-items: center;
    width: 343px;
    height: 10px;
    position: fixed; /* 화면 상단에 고정 */
    top: 0; /* 상단에서의 거리 */
    background-color: #FFFFFF;
  }
  

  footer.footer-wrap {
    padding: 6px 16px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    width: 343px;
    height: 50px;
    position: fixed;
    bottom: 0;
    background-color: #FFFFFF;
  }




  .ATF {
    width: 375px;
    flex-direction: column;
    gap: 1.5vh;
  }

  .main * {
    width: 375px;
  }

  .section-wrap {
    flex-direction: column;
  }

  .section-wrap > * {
    padding: 3px 16px 12px 16px;
    width: 343px;
  }

  .section-row1 * {
    flex-direction: row;
    height:20px;
    gap: 6px;
  }

  .section-row1 {
    justify-content: space-between;
  }

  .section-row2 {
    flex-direction: column;
    gap: 6px;
  }

  .atf-result {
    flex-direction: row;
    gap: 6px;
  }




  .content {
    padding: 40px 0px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 375px;
    height: auto;
    background: linear-gradient(to bottom, #E6F5ED, #FFFFFF, #FFFFFF);
    /* overflow: hidden; */
  }

  .career-box {
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 16px;
    margin: 10px 0px 5px 0px;
    width: 280px;
    gap: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.06);

  }

  .career-info-row-1{
    justify-content: center;
    align-items: center;
    width: auto;
    gap: 12px;
  }

  .career-info{
    flex-direction: column;
    width: 200px;
    gap: 2px;
  }

  .brand-thumnail {
    width: 45px;
    height: 45px;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
  }

  .right-arros {
    width: 20px;
    height: 20px;
  }

  .company-info {
    gap: 3px;
  }

  .period-info {
    gap: 3px;
  }


  .project {
    align-items: center;
    gap: 3px;
  }

  .project-thumnail {
    width: 20px;
    height: 20px;
  }


  .career-info-row-2 {
    justify-content: space-between;
  }



  .raidorchart {
    width: 260px;
  }




  .skills-box {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: 12px;
    width: 280px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.06);
    gap: 6px;
  }


  .skills-thumnail {
    width: 37px;
    height: 37px;
  }

  .skills-info {
    flex-direction: column;
    width: 300px;
    gap: 3px;
  }



  .tag-skill-wrap {
    width: 220px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px;
  }

  .tag-skill {
    background-color: #E4FBEE; 
    border-radius: 2px; 
    padding: 2px 4px;
    gap: 3px;
  }


  .content-alarm-wrap {
    justify-content: center;
    align-items: center;
    gap: 3px;
  }

  .icon_alarm {
    width: 16px;
    height: 16px;
  }


  .reference-wrap {
    flex-direction: row;
    gap: 16px;
    width: 375px;
    justify-content: left;
    overflow-x: auto;
    padding: 0px 16px 0px 0px;
  }

  .reference-box {
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background-color: #F6F6F6;
    height: 230px;
    width: 240px;
  }

  #reference-box1 {
    margin: 0px 0px 0px 32px ;
  }

  #reference-box4 {
    margin: 0px 32px 0px 0px ;
  }

  .emoji-thumnail {
    height: 56px;
    width: 56px;
  }


  .personal-info-wrap {
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }


  .personal-info-text-wrap {
    flex-direction: column;
  }

  .personInfo {
    flex-direction: row;
    gap: 6px;
  }


  .interview-wrap {
    flex-direction: column;
  }





